#root {
  width: 100%;
}

.premium-card {
  transition: all 0.3s ease;
  border-radius: 16px !important;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05) !important;
}

.premium-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.1) !important;
}

.main-container {
    padding-top: 40px;
}